.App {
  /* text-align: center; */
  border: 1px;
  border-color: #282c34;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.button {
  display: flex;
  justify-content: space-between;
}

button {
 height: 25px;
 width: 60px;
 /* margin-left: 5px; */
}

